{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h2 id="esconde" class="text text-info font-weight-bolder">Classify my File</h2>
  <div id="app">
    <div class="row">
      <div class="col-md-6">
        {% csrf_token %}
        <div class="large-12 medium-12 small-12 cell">
          <label>Files to make predictions
            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()" />
          </label>
          <div class="large-12 medium-12 small-12 cell">
            <div v-for="(file, key) in files" class="file-listing">[[file.name]]<button class="btn btn-danger"
                v-on:click="removeFile( key )">Remove</button><br></div>
          </div>
          <br>
          <div class="large-12 medium-12 small-12 cell">
            <button class="btn btn-info" v-on:click="addFiles()">Add Files</button>
          </div>
          <br>
          <div class="large-12 medium-12 small-12 cell">
            <button class="btn btn-success" v-on:click="submitFiles()">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>List of predictions</h3>
        <section v-if="errored">
          <p>Could not make the predictions</p>
        </section>
        <section v-else>
          <div class="text text-danger" id="loading" v-if="loading">Loading...</div>
          <span class="lighten">
            [[contenido]]
          </span>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}