{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h2 id="esconde2" class="text text-info font-weight-bolder">Analize sentiment in text or tweets</h2>
  <div id="app2">
    <div class="row">
      <div class="col-md-6">
        {% csrf_token %}
        <div class="large-12 medium-12 small-12 cell">
          <label>Enter a text:
            <textarea type="text" id="sentiment"></textarea>
          </label>
          <br>
          <div class="large-12 medium-12 small-12 cell">
            <button class="btn btn-success" v-on:click="submitText()">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>The sentiment in text is</h3>
        <section v-if="errored">
          <p>Could not make the predictions</p>
        </section>
        <section v-else>
          <div class="text text-danger" id="loading" v-if="loading">Loading...</div>
          <span class="lighten">
            [[contenido_texto]]
          </span>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}